@model Interview_0314.Models.Team

@{
    ViewData["Title"] = "新增隊伍";
}

<h1>新增隊伍</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">隊伍名稱</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">城市</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium" class="control-label">隊伍主場</label>
                <input asp-for="Stadium" class="form-control" />
                <span asp-validation-for="Stadium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundedYear" class="control-label">成立年分</label>
                <input asp-for="FoundedYear" class="form-control" />
                <span asp-validation-for="FoundedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@* @if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning">
        <strong>請修正以下錯誤：</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
} *@
<div>
    <a asp-action="Index">回前頁</a>
</div>

