@{
    ViewData["Title"] = "CPBLTEST";
}

<div class="text-center">
    <h1 class="display-4">歡迎進入CPBLTEST</h1>
    
    <button onclick="location.href='@Url.Action("About", "Home")'" class="btn btn-primary">
        關於我們
    </button>

</div>
