@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="location.href='@Url.Action("About", "Home")'" class="btn btn-primary">
        關於我們
    </button>

</div>
