@model Interview_0314.Models.Player

@{
    ViewData["Title"] = "成員明細";
}

<h1>成員明細</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            姓名
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            圖片
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="Player Image" width="150" class="img-thumbnail" />
            }
            else
            {
                <span>無圖片</span>
            }
        </dd>
        <dt class = "col-sm-2">
            隊伍
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class = "col-sm-2">
            職務
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回列表</a>
</div>
