@model Interview_0314.Models.Position

@{
    ViewData["Title"] = "刪除職務";
}

<h1>刪除職務</h1>

<h3>確認刪除此筆資料嗎?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            隊伍
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class="col-sm-2">
            職稱
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回列表</a>
    </form>
</div>
