@model Interview_0314.Models.Position

@{
    ViewData["Title"] = "職務明細";
}

<h1>職務明細</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            隊伍
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class="col-sm-2">
            職稱
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回列表</a>
</div>
